{
    "extends": [
        "react-app",
        "airbnb"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js"
                ]
            }
        ],
        "import/prefer-default-export": "off",
        "linebreak-style": 0,
        "no-console": "off",
        "react/button-has-type": [
            0,
            {
                "button": 0,
                "submit": 0,
                "reset": 0
            }
        ]
    }
}